node_modules
.next
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.vercel

# OS files
.DS_Store
Thumbs.db
